<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Position</th>
					<th>jerseyNumber</th>
					<th>dateOfBirth</th>
					<th>nationality</th>
					<th>contractUntil</th>
					<th>marketValue</th>
				</tr>
			</thead>

			<tbody>
				<% @players.items.each do |player| %>
				<tr>
					<td><%= player.name %></td>
					<td><%= player.position %></td>
					<td><%= player.jerseyNumber %></td>
					<td><%= player.dateOfBirth %></td>
					<td><%= player.nationality %></td>
					<td><%= player.contractUntil %></td>
					<td><%= player.marketValue %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<p class="text-right small">
			<a href="https://api.football-data.org" target="_blank">https://api.football-data.org</a>
		</p>
	</div>
</div>