<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Information</strong>
			</div>
			<div class="panel-body pre-scrollable">
				<p>
					<strong>Name:</strong>
					<%= @team.name %>
				</p>

				<p>
					<strong>Code:</strong>
					<%= @team.code %>
				</p>

				<p>
					<strong>API ID:</strong>
					<%= @team.api_id %>
				</p>

				<p>
					<strong>Group:</strong>
					<%= @team.group.name %>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Fans (<%= @fans.size %>)</strong>
			</div>
			<div class="panel-body pre-scrollable">
				<p>				
					<% @fans.each do |fan| %>
						<%= display_user(fan) %>
					<% end %>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Players</strong>
			</div>
			<div class="panel-body pre-scrollable">
				<% if @players.nil? %>
				<p>
					n/a
				</p>
				<% else %>
				<%= render 'players' %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<% if @admin_mode %>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
<% end %>