<%= form_tag(configs_path, method: "get") do |form| %>
<div class="row">	
	<div class="col-md-4">
		<div class="form-group">
			<%= label_tag(:key) %>
			<%= text_field_tag(:key,nil, :class=>'form-control') %>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<%= label_tag(:value) %>
			<%= text_field_tag(:value,nil, :class=>'form-control') %>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col-md-12">
		<div class="actions">
			<%= submit_tag("Search", :class=>'btn btn-default') %>
			<%= submit_tag("Clear", :class=>'btn btn-default',:type => "reset") %>
		</div>
	</div>
</div>

<% end %>