<%= form_with(url: user_create_bet_path, local: false) do |form| %>
  <% if bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :match_id %>
    <%= form.collection_select(:match_id, Match.all, :id, :title, {prompt: true} ) %>
  </div>
  
  <div class="field">
    <%= form.label :bet %>
    <%= form.number_field :bet, id: :bet_guess %>
  </div>
    
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
