<div class="row">
	<div class="col-md-3">
		<p>
			<%= display_user_info(@user) %>
		</p>
	</div>
	<div class="col-md-9">
		<p>
			Registered : <%= @user.created_at.strftime("%-d %-b %y %H:%M:%S") %>
		</p>			
		<p>
			PTS : <%= @user.pts %>
		</p>		
		<p>
			Champion : <%= display_team(@user.champion) %> <%= display_champion_button(@user) %> 
		</p>		
		<p>
			<!-- Top goal scorer : <%= @user.top_goal_scorer %> <%= display_top_goal_scorer_button(@user) %> -->
			Top goal scorer : {under construction}
		</p>		
	</div>	
</div>


