<div class="row">
	<div class="col-md-3">
		<p class="text-center">
			<%= display_user_info(@user) %>
		</p>
	</div>
	<div class="col-md-9">
		<p>
			<strong>Registered : </strong><%= @user.created_at.strftime("%-d %-b %Y %H:%M:%S") %>
		</p>
		<p>
			<strong>Payment : </strong><%= display_user_payment(@user) %>
		</p>
		<p>
			<strong>Party : </strong><%= @user.party %>
		</p>
		<p>
			<strong>Rank : </strong><%= @user.rank %>
		</p>			
		<p>
			<strong>PTS : </strong><%= @user.pts %>
		</p>					
	</div>	
</div>
<div class="row">
	<div class="col-md-12">		
		
		<table class="table table-hover">
			<thead>
				<tr class="active">
					<th>#</th>
					<th class="text-center">Your Bet</th>
					<th class="text-center" style="width: 150px">Bet</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><strong>Champion<strong></td>				
					<td><%= display_team(@user.champion) %></td>
					<td class="text-center"><%= display_champion_button(@user) %></td>
					<script>
						var userBetChampionEndTime = new Date($(user_bet_champion).attr('countdown'));
						function expiry() {
							$(user_bet_champion).hide();
						}
						$(user_bet_champion).countdown({
							until : userBetChampionEndTime,
							alwaysExpire: true,
							onExpiry : expiry,
							layout: '{dn} {dl} {hnn}{sep}{mnn}{sep}{snn}'
						});
					</script> 
				</tr>
				<tr>
					<td><strong>Top goal scorer<strong></td>				
					<td><%= @user.top_goal_scorer %></td>
					<td class="text-center"><%= display_top_goal_scorer_button(@user) %></td>
					<script>
						var userBetTopGoalScorerEndTime = new Date($(user_bet_top_goal_scorer).attr('countdown'));
						function expiry() {
							$(user_bet_top_goal_scorer).hide();
						}
						$(user_bet_top_goal_scorer).countdown({
							until : userBetTopGoalScorerEndTime,
							alwaysExpire: true,
							onExpiry : expiry,
							layout: '{dn} {dl} {hnn}{sep}{mnn}{sep}{snn}'
						});
					</script>
				</tr>
			</tbody>
		</table>
			
	</div>
</div>


