<script>
	$(document).on('click', '[data-toggle="lightbox"]', function(event) {
		event.preventDefault();
		$(this).ekkoLightbox();
	}); 	
</script>
<table class="table table-hover table-bordered">
	<thead>
		<tr class="active">
			<th class="text-center">NO.</th>
			<th class="text-center">Stage</th>
			<th class="text-center">Kick-off</th>
			<th class="text-center">Match</th>
			<th class="text-center">Result</th>
			<th class="text-center">Your Bet</th>
			<th class="text-center">Bet Result</th>
			<th class="text-center">Bet</th>
		</tr>
	</thead>

	<tbody>
		<% @matches.each_with_index do |match,index| %>
		<tr class=<%= match.lock? ? ("danger") : ("success") %> >
			<td class="text-center"><p><%= index+1 %></p></td>
			<td class="text-center"><%= display_match_modal(match.description, match) %></td>
			<td class="text-center"><%= display_match_modal(match.start.strftime("%-d %-b %y %H:%M"), match) %></td>
			<td class="text-center"><%= display_match(match) %></td>
			<td class="text-center"><%= display_match_result(match) %></td>
			<td class="text-center"><%= display_bet(Bet.find_by(match: match,user: session[:user_id])) %></td>
			<td class="text-center"><%= display_bet_result(Bet.find_by(match: match,user: session[:user_id])) %></td>
			<td class="text-center"><%= display_bet_button(index+1, match) %>
			<script>
				var startMatchDateTime = new Date($("#bet-<%= index+1 %>").attr("countdown"));
				function expiry() {
					$("#bet-<%= index+1 %>").prop("disabled", true)
				}
				$("#bet-<%= index+1 %>").countdown({
					until : startMatchDateTime,
					onExpiry : expiry,
					layout: '{dn} {dl} {hnn}{sep}{mnn}{sep}{snn}'
				});
			</script></td>
		</tr>
		<% end %>
	</tbody>
</table>
