<% if !notice.nil? && notice.any? %>
<div id="error_explanation">
	<h2><%= pluralize(notice.count, "error") %> prohibited this bet from being saved:</h2>
	<ul>
		<% notice.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<table class="table table-hover table-bordered">
	<thead>
		<tr class="active">
			<th class="text-center">NO.</th>
			<th class="text-center">Match</th>
			<th class="text-center">Kick-off</th>
			<th class="text-center">Result</th>			
			<th class="text-center">Your Bet</th>
			<th class="text-center">Your Score</th>
			<th class="text-center">Bet</th>
		</tr>
	</thead>

	<tbody>
		<% @matches.each_with_index do |match,index| %>
		<tr class=<%= match.lock? ? ("info") : ("") %> >
			<td class="text-center"><p><%= index+1 %></p></td>
			<td class="text-center"><%= display_match_description(match) %></td>
			<td class="text-center"><%= match.start.strftime("%-d %-b %y %H:%M") %></td>
			<td class="text-center"><%= display_match_versus(match) %></td>			
			<td class="text-center"><%= display_your_bet(Bet.find_by(match: match,user: session[:user_id])) %></td>
			<td class="text-center"><%= display_your_score(Bet.find_by(match: match,user: session[:user_id])) %></td>
			<td class="text-center"><%= display_bet_button(index+1, match) %>
			<script>
				var startMatchDateTime = new Date($("#bet-<%= index+1 %>").attr("countdown"));
				function expiry() {
					$("#bet-<%= index+1 %>").hide();
				}
				$("#bet-<%= index+1 %>").countdown({
					until : startMatchDateTime,
					alwaysExpire: true,
					onExpiry : expiry,
					layout: '{dn} {dl} {hnn}{sep}{mnn}{sep}{snn}'
				});
			</script>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
