<%= form_with(model: bet, local: true) do |form| %>
<% if bet.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

	<ul>
		<% bet.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="panel panel-default">
	<div class="panel-heading">
		Main
	</div>
	<div class="panel-body">
			
		<div class="field">			
			<%= form.label "Player : " %>			
			<%= bet.user.name %>			
			<%= form.hidden_field :user_id %>									
		</div>
												
		<div class="field">			
			<%= form.label "Match : " %>
			<% if @modal %>
				<%= bet.match.title %>
				<%= form.hidden_field :match_id %>
				<%= form.hidden_field :user_id %>
			<% else %>
				<%= form.collection_select(:match_id, Match.all, :id, :title, {prompt: true}) %>
				<%= form.hidden_field :user_id %>
			<% end %>									
		</div>
					
		<div class="field">
			<%= form.label "Result (#{Config.find_by_key('BET_MAIN_FINAL_RESULT_SCORE').value} points) : " %>			
			<%= form.collection_select :bet, @bet_data, :first, :last, prompt: true %>			
		</div>

		<div class="field">
			<%= form.label display_label_bet_left_team(bet) %>
			<%= form.number_field :bet_left_score, id: :match_left_score %>
		</div>

		<div class="field">
			<%= form.label display_label_bet_right_team(bet) %>
			<%= form.number_field :bet_right_score, id: :match_right_score %>
		</div>
		
		<div class="field">
			<%= form.label "#{:yellow_card}? (Yes/No) more then #{Config.find_by_key('BET_MAIN_YELLOW_CARD_CONDITION').value} cards (#{Config.find_by_key('BET_MAIN_YELLOW_CARD_SCORE').value}/#{Config.find_by_key('BET_MAIN_NO_YELLOW_CARD_SCORE').value} points): " %>
			<%= form.check_box :yellow_card, id: :yellow_card %>
		</div>

		<div class="field">
			<%= form.label "#{:red_card}? (Yes/No) (#{Config.find_by_key('BET_MAIN_RED_CARD_SCORE').value}/#{Config.find_by_key('BET_MAIN_NO_RED_CARD_SCORE').value} points): " %>
			<%= form.check_box :red_card, id: :red_card %>
		</div>
		
		<div class="field">
			<%= form.label "#{:own_goal}? (Yes/No) (#{Config.find_by_key('BET_MAIN_OWN_GOAL_SCORE').value}/#{Config.find_by_key('BET_MAIN_NO_OWN_GOAL_SCORE').value} points): " %>
			<%= form.check_box :own_goal, id: :own_goal %>
		</div>
		
		<% if bet.match.knockout? %>
			<div class="field">
				<%= form.label "#{:extra_time}? (Yes/No) (#{Config.find_by_key('BET_MAIN_EXTRA_TIME_SCORE').value}/#{Config.find_by_key('BET_MAIN_NO_EXTRA_TIME_SCORE').value} points): " %>
				<%= form.check_box :extra_time, id: :extra_time %>
			</div>		
			<div class="field">
				<%= form.label "#{:penalty} shootout after a drawn match? (Yes/No) (#{Config.find_by_key('BET_MAIN_PENALTY_SCORE').value}/#{Config.find_by_key('BET_MAIN_NO_PENALTY_SCORE').value} points): " %>
				<%= form.check_box :penalty, id: :penalty %>
			</div>
		<% end %>

		
	</div>
</div>

<div class="actions">					
	<% if @modal %>
		<%= hidden_field_tag :modal, @modal %>
	<% end %>	
	<%= form.submit %>
</div>
<% end %>
