<%= form_tag(bets_path, method: "get") do |form| %>
<div class="row">	
	<div class="col-md-4">
		<div class="form-group">
			<%= label_tag(:match) %>
			<%= select_tag :match, options_from_collection_for_select(Match.all, "id", "display_title"), :class=>'form-control', include_blank: true %>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<%= label_tag(:user) %>
			<%= select_tag :user, options_from_collection_for_select(User.all, "id", "name"), :class=>'form-control', include_blank: true %>
		</div>
	</div>	
</div>

<div class="row">
	<div class="col-md-12">
		<div class="actions">
			<%= submit_tag("Search", :class=>'btn btn-default') %>
			<%= submit_tag("Clear", :class=>'btn btn-default',:type => "reset") %>
		</div>
	</div>
</div>

<% end %>