<p id="notice">
	<%= notice %>
</p>

<h1>Bets</h1>

<%= render 'search' %>

<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
			    <tr>
			      <th>Match</th>
			      <th>Close?</th>
			      <th>User</th>
			      <th>Guess</th>
			      <th>Win?</th>
			      <th colspan="3"></th>
			    </tr>
			</thead>

			<tbody>
				<% @bets.each do |bet| %>
				<tr>
					<td><%= bet.match.title %></td>
					<td><%= bet.match.close? %></td>
        			<td><%= display_user(bet.user) %></td>
        			<td><%= bet.guess %></td>
        			<td><%= bet.win? %></td>
        			<td> <%= link_to 'Show', bet , :class => 'btn btn-default'%>
					<%= link_to 'Edit', edit_bet_path(bet) , :class => 'btn btn-default'%>
					<%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-danger'%> </td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= will_paginate @bets %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to 'New Bet', new_bet_path , :class => 'btn btn-primary' %>
	</div>
</div>

