<%= form_tag(users_path, method: "get") do |form| %>
<div class="row">	
	<div class="col-md-4">
		<div class="form-group">
			<%= label_tag(:name) %>
			<%= text_field_tag(:name,nil, :class=>'form-control') %>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<%= label_tag(:uid) %>
			<%= text_field_tag(:uid,nil, :class=>'form-control') %>
		</div>
	</div>	
	<div class="col-md-4">
		<div class="form-group">
			<%= label_tag(:sort) %>
			<%= select_tag :sort, options_for_select(["win-ratio","win-cont.", "loss-cont."]), :class=>'form-control', include_blank: true %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="actions">
			<%= submit_tag("Search", :class=>'btn btn-default') %>
			<%= submit_tag("Clear", :class=>'btn btn-default',:type => "reset") %>
		</div>
	</div>
</div>

<% end %>