<p id="notice">
	<%= notice %>
</p>

<h1>Users</h1>

<%= render 'search' %>

<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Avatar</th>
					<th>UID</th>
					<th>Name</th>
					<th>Nickname</th>
					<th>Email</th>
					<th>Admin</th>
					<th>Payment</th>
					<th>Party</th>					
					<th>Champion</th>
					<th>Top goal scorer</th>
					<th>Win Ratio</th>
					<th>Win Cont.</th>
					<th>Loss Cont.</th>					
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= display_user(user) %></td>
					<td><%= user.uid %></td>
					<td><%= user.name %></td>
					<td><%= user.nickname %></td>
					<td><%= user.email %></td>					
					<td><%= user.admin %></td>
					<td><%= user.display_payment %></td>
					<td><%= user.party %></td>											
					<td><%= display_team(user.champion) %></td>
					<td><%= user.top_goal_scorer %></td>
					<td><%= user.ratio_win %></td>
					<td><%= user.continuous_win %></td>
					<td><%= user.continuous_loss %></td>
					<td> <%= link_to 'Show', user , :class => 'btn btn-default'%>
					<%= link_to 'Edit', edit_user_path(user) , :class => 'btn btn-default'%>
					<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-danger'%> </td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= will_paginate @users %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<%= link_to 'New User', new_user_path , :class => 'btn btn-primary' %>
	</div>
</div>
