<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>

<p>
  <strong>Champion:</strong>
  <%= @user.champion.nil? ? "":@user.champion.name %>
</p>

<p>
  <strong>Top goal scorer:</strong>
  <%= @user.top_goal_scorer %>
</p>
