<p id="notice">
	<%= notice %>
</p>
<%= form_with(model: @user, url: user_top_goal_scorer_edit_path, method: :put, local: true) do |form| %>
<div class="panel panel-default">
	<div class="panel-heading">
		Top goal scorer
	</div>
	<div class="panel-body">
		<div class="field">
			<%= form.label :team %>
			<%= form.collection_select(:team_id, Team.all, :id, :name, {prompt: true}) %>
		</div>
		<div class="field">
			<%= form.label :top_goal_scorer %>
			<%= form.select(:top_goal_scorer, {}) %>
		</div>
	</div>
</div>
<div class="actions">
	<%= form.submit %>
</div>
<% end %>
<script>
	$('#user_team_id').on('change', function() {
		$('#user_top_goal_scorer').empty();
		$.getJSON("teams/" + this.value + "/players.json", function(data) {
			$.each(data, function(key, value) {
				var top_goal_scorer = value.name + ' (' + value.position + ')';
				$('#user_top_goal_scorer').append($("<option></option>").attr("value", top_goal_scorer).text(top_goal_scorer));
			});
		});
	})
</script>
