<%= form_with(model: match, local: true) do |form| %>
<% if match.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

	<ul>
		<% match.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= form.label :title %>
	<%= form.text_field :title, id: :match_title %>
</div>

<div class="field">
	<%= form.label :description %>
	<%= form.text_field :description, id: :match_description %>
</div>

<div class="field">
	<%= form.label :start %>
	<%= form.datetime_select :start, id: :match_start %>
</div>

<div class="field">
	<%= form.label :knockout %>
	<%= form.check_box :knockout, id: :match_knockout %>
</div>

<div class="field">
	<%= form.label :left %>
	<%= form.collection_select(:left_id, Team.all, :id, :name, {prompt: true} ) %>
</div>

<div class="field">
	<%= form.label :right %>
	<%= form.collection_select(:right_id, Team.all, :id, :name, {prompt: true} ) %>
</div>

<div class="field">
	<%= form.label :result %>
	<%= form.number_field :result, id: :bet_result %>
</div>

<div class="field">
	<%= form.label :left_score %>
	<%= form.number_field :left_score, id: :match_left_score %>
</div>

<div class="field">
	<%= form.label :right_score %>
	<%= form.number_field :right_score, id: :match_right_score %>
</div>
<div class="field">
	<%= form.label :yellow_card %>
	<%= form.check_box :yellow_card, id: :yellow_card %>
</div>
<div class="field">
	<%= form.label :red_card %>
	<%= form.check_box :red_card, id: :red_card %>
</div>
<div class="field">
	<%= form.label :own_goal %>
	<%= form.check_box :own_goal, id: :own_goal %>
</div>
<div class="field">
	<%= form.label :penalty %>
	<%= form.check_box :penalty, id: :penalty %>
</div>
<div class="field">
	<%= form.label :extra_time %>
	<%= form.check_box :extra_time, id: :extra_time %>
</div>

<div class="actions">
	<%= form.submit %>
</div>
<% end %>
