<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Image</strong>
			</div>
			<div class="panel-body pre-scrollable">
				<p class="text-center">
					<% @prize.images.each do |image| %>
						<%= image_tag(image.url, :class => 'img-rounded', width: '200') %>
					<% end %>
				</p>

			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Detail</strong>
			</div>
			<div class="panel-body pre-scrollable">
				<p>
					<strong>Code:</strong>
					<%= @prize.code %>
				</p>
				<p>
					<strong>Name:</strong>
					<%= @prize.name %>
				</p>				
				<p>
					<strong>Price:</strong>
					<%= @prize.price %>
				</p>

				<p>
					<strong>Sponsor:</strong>
					<%= @prize.sponsor %>
				</p>

				<p>
					<strong>Description:</strong>
					<%= @prize.description %>
				</p>

				<p>
					<strong>Owner:</strong>
					<%= @prize.user.nil? ? '-':display_user(@prize.user) %>
				</p>
			</div>
		</div>
	</div>
</div>

